<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Quantity in Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td class="align-middle">
                <img src="{{ product.imageUrl }}" class="img-responsive" height="50" />
            </td>
            <td class="align-middle">{{ product.name }}</td>
            <td class="text-center align-middle">{{ product.unitPrice | currency: 'USD'}}</td>
            <td class="text-center align-middle">{{ product.unitsInStock }}</td>
        </tr>
    </tbody>
</table>
